<h1><%= @projects.size %> Projects</h1>

<ul>
  <% @projects.each do |project| %>
  <li>
    <strong><%= project.name %> :</strong>
    <u>About</u> : <%= project.description %>
    <u>Target</u> : <%= number_to_currency(project.target_pledge_amount) %>
  </li>
  <% end %>
</ul>